<style>
    body{
        background-image:url("http://i.ytimg.com/vi/r6GQ_0c4-k8/maxresdefault.jpg");
    }

    h3{
        position: fixed;
        display: block;
        left: 27%;
    }
</style>

<h2>Welcome to Exlpore the World!</h2>

<h4>This app is your chance to explore the countries of the world. Do you need a knowledge boost?</h4>

<ul>
    <li>Explore the world, region by region.</li>
    <li>Explore country by country, alphabetically.</li>
    <li>Search the countries you are curious about, letter by letter.</li>
</ul>

<h3>Explore, enjoy!</h3>
