<div id="accordion">

    <h3>Africa</h3>
    <div class="row">
        <div class="well well-sm">
            <a href="#/regions/africa">
                <h3>AFRICA</h3>
            </a>
        </div>
        <div class="col-xs-2 col-sm-4 col-lg-3">
            <a href="#/regions/africa">
                <img src="../images/regions/africa.png" class="img-thumbnail" alt="Cinque Terre" width="250" height="250">
            </a>
        </div>
        <div class="col-xs-10 col-sm-8 col-lg-9">
            <blockquote>
                <p>Countries: 54</p>
                <p>Area: 30,370,000 km<sup>2</sup></p>
                <p>Population: 1,200,000,000</p>
                <footer>Learn more at <a href="https://en.wikipedia.org/wiki/Africa" target="_blank">Wikipedia</a></footer>
            </blockquote>
            <p>
                Africa is the world's second-largest and second-most-populous continent. At about 30.3 million km² (11.7 million square miles)
                including adjacent islands, it covers 6% of Earth's total surface area and 20.4% of its total land area.
                With 1.2 billion people as of 2016, it accounts for about 16% of the world's human population. The continent
                is surrounded by the Mediterranean Sea to the north, both the Suez Canal and the Red Sea along the Sinai
                Peninsula to the northeast, the Indian Ocean to the southeast, and the Atlantic Ocean to the west. The continent
                includes Madagascar and various archipelagos. It contains 54 fully recognized sovereign states (countries),
                nine territories and two de facto independent states with limited or no recognition.
            </p>
        </div>
    </div>

    <h3>Americas</h3>
    <div class="row">
        <div class="well well-sm">
            <a href="#/regions/americas">
                <h3>AMERICAS</h3>
            </a>
        </div>
        <div class="col-xs-2 col-sm-4 col-lg-3">
            <a href="#/regions/americas">
                <img src="../images/regions/americas.png" class="img-thumbnail" alt="Cinque Terre" width="250" height="250">
            </a>
        </div>
        <div class="col-xs-10 col-sm-8 col-lg-9">
            <blockquote>
                <p>Countries: 35</p>
                <p>Area: 45,549,000 km<sup>2</sup></p>
                <p>Population: 975,279,000</p>
                <footer>Learn more at <a href="https://en.wikipedia.org/wiki/North_America" target="_blank">Wikipedia</a> and at
                    <a href="https://en.wikipedia.org/wiki/South_America" target="_blank">Wikipedia</a></footer>
            </blockquote>
            <p>
                North America is a continent entirely within the Northern Hemisphere and almost all within the Western Hemisphere. It can
                also be considered a northern subcontinent of the Americas. It is bordered to the north by the Arctic Ocean,
                to the east by the Atlantic Ocean, to the west and south by the Pacific Ocean, and to the southeast by South
                America and the Caribbean Sea.
            </p>
            <p>
                South America is a continent located in the western hemisphere, mostly in the southern hemisphere, with a relatively small
                portion in the northern hemisphere. It may also be considered a subcontinent of the Americas, which is the
                model used in nations that speak Romance languages. The reference to South America instead of other regions
                (like Latin America or the Southern Cone) has increased in the last decades due to changing geopolitical
                dynamics (in particular, the rise of Brazil).
            </p>
        </div>
    </div>

    <h3>Asia</h3>
    <div class="row">
        <div class="well well-sm">
            <a href="#/regions/asia">
                <h3>ASIA</h3>
            </a>
        </div>
        <div class="col-xs-2 col-sm-4 col-lg-3">
            <a href="#/regions/asia">
                <img src="../images/regions/asia.png" class="img-thumbnail" alt="Cinque Terre" width="250" height="250">
            </a>
        </div>
        <div class="col-xs-10 col-sm-8 col-lg-9">
            <blockquote>
                <p>Countries: 48</p>
                <p>Area: 44,579,000 km<sup>2</sup></p>
                <p>Population: 4,164,252,000</p>
                <footer>Learn more at <a href="https://en.wikipedia.org/wiki/Asia" target="_blank">Wikipedia</a></footer>
            </blockquote>
            <p>
                Asia is Earth's largest and most populous continent, located primarily in the eastern and northern hemispheres and sharing
                the continental landmass of Eurasia with the continent of Europe and shares the continental landmass of Afro-Eurasia
                with both Europe and Africa. Asia covers an area of 44,579,000 square kilometres (17,212,000 sq mi), about
                30% of Earth's total land area and 8.7% of the Earth's total surface area. The continent, which has long
                been home to the majority of the human population, was the site of many of the first civilizations. Asia
                is notable for not only its overall large size and population, but also dense and large settlements as well
                as vast barely populated regions within the continent of 4.4 billion people.
            </p>
        </div>
    </div>

    <h3>Europe</h3>
    <div class="row">
        <div class="well well-sm">
            <a href="#/regions/europe">
                <h3>EUROPE</h3>
            </a>
        </div>
        <div class="col-xs-2 col-sm-4 col-lg-3">
            <a href="#/regions/europe">
                <img src="../images/regions/europe.png" class="img-thumbnail" alt="Cinque Terre" width="250" height="250">
            </a>
        </div>
        <div class="col-xs-10 col-sm-8 col-lg-9">
            <blockquote>
                <p>Countries: 50</p>
                <p>Area: 10,180,000 km<sup>2</sup></p>
                <p>Population: 742,452,000</p>
                <footer>Learn more at <a href="https://en.wikipedia.org/wiki/Europe" target="_blank">Wikipedia</a></footer>
            </blockquote>
            <p>
                Europe is a continent that comprises the westernmost part of Eurasia. Europe is bordered by the Arctic Ocean to the north,
                the Atlantic Ocean to the west, and the Mediterranean Sea to the south. The eastern boundary with Asia is
                a historical and cultural construct, as there is no clear physical and geographical separation betweenthem.
                Europe is generally considered as separated from Asia by the watershed divides of the Ural and Caucasus Mountains,
                the Ural River, the Caspian and Black Seas, and the waterways of the Turkish Straits.
            </p>
        </div>
    </div>

    <h3>Oceania</h3>
    <div class="row">
        <div class="well well-sm">
            <a href="#/regions/oceania">
                <h3>OCEANIA</h3>
            </a>
        </div>
        <div class="col-xs-2 col-sm-4 col-lg-3">
            <a href="#/regions/oceania">
                <img src="../images/regions/oceania.png" class="img-thumbnail" alt="Cinque Terre" width="250" height="250">
            </a>
        </div>
        <div class="col-xs-10 col-sm-8 col-lg-9">
            <blockquote>
                <p>Countries: 14</p>
                <p>Area: 8,525,989 km<sup>2</sup></p>
                <p>Population: 36,659,000</p>
                <footer>Learn more at <a href="https://en.wikipedia.org/wiki/Oceania" target="_blank">Wikipedia</a></footer>
            </blockquote>
            <p>
                Oceania, also known as Oceanica, is a region centred on the islands of the central Pacific Ocean. Opinions of what constitutes
                Oceania range from its three subregions of Melanesia, Micronesia, and Polynesia to, more broadly, the entire
                insular region between Southeast Asia and the Americas, including Australasia and the Malay Archipelago.
                The term is often used more specifically to denote a continent comprising Australia and proximate islands
                or biogeographically as a synonym for either the Australasian ecozone (Wallacea and Australasia) or the Pacific
                ecozone (Melanesia, Polynesia, and Micronesia, excluding both New Zealand and mainland New Guinea).
            </p>
        </div>
    </div>

</div>