<h3>on /#/regions handlebars template - TO REMOVE THIS TEXT</h3>
<p>To implement tabs controller with jquery UI</p>


<div class="row">
    <div class="well well-sm">
        <a href="#/regions/europe"><h3>EUROPE</h3></a>
    </div>
    <div class="col-xs-2 col-sm-4 col-lg-3">
        <a href="#/regions/europe">
        <img src="../images/regions/europe.png" class="img-thumbnail" alt="Cinque Terre" width="250" height="250">
        </a>
    </div>
    <div class="col-xs-10 col-sm-8 col-lg-9">
        <blockquote>
            <p>Countries: 50</p>
            <p>Area: 10,180,000 km2</p>
            <p>Population: 742,452,000</p>
            <footer>From wikipedia</footer>
        </blockquote>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia vero, facere perspiciatis consectetur accusamus maiores dolor molestiae odit! Quo, fugit, eius. Perspiciatis accusamus tenetur aperiam architecto, vel, quam quas ea.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam omnis quidem fugit provident voluptatibus, odio dolore reiciendis molestias recusandae adipisci minus enim vero libero sunt odit quas a dolores ullam!
        </p>
    </div>
</div>

<div class="row">
    <div class="well well-sm">
        <a href="#/regions/asia"><h3>ASIA</h3></a>
    </div>
    <div class="col-xs-2 col-sm-4 col-lg-3">
        <a href="#/regions/asia">
        <img src="../images/regions/asia.png" class="img-thumbnail" alt="Cinque Terre" width="250" height="250">
        </a>
    </div>
    <div class="col-xs-10 col-sm-8 col-lg-9">
        <blockquote>
            <p>Countries: 48</p>
            <p>Area: 44,579,000 km2</p>
            <p>Population: 4,164,252,000</p>
            <footer>From wikipedia</footer>
        </blockquote>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia vero, facere perspiciatis consectetur accusamus maiores dolor molestiae odit! Quo, fugit, eius. Perspiciatis accusamus tenetur aperiam architecto, vel, quam quas ea.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam omnis quidem fugit provident voluptatibus, odio dolore reiciendis molestias recusandae adipisci minus enim vero libero sunt odit quas a dolores ullam!
        </p>
    </div>
</div>

<div class="row">
    <div class="well well-sm">
         <a href="#/regions/africa"><h3>AFRICA</h3></a>
    </div>
    <div class="col-xs-2 col-sm-4 col-lg-3">
        <a href="#/regions/africa">
        <img src="../images/regions/africa.png" class="img-thumbnail" alt="Cinque Terre" width="250" height="250">
        </a>
    </div>
    <div class="col-xs-10 col-sm-8 col-lg-9">
        <blockquote>
            <p>Countries: 54</p>
            <p>Area: 30,370,000 km2</p>
            <p>Population: 1,200,000,000</p>
            <footer>From wikipedia</footer>
        </blockquote>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia vero, facere perspiciatis consectetur accusamus maiores dolor molestiae odit! Quo, fugit, eius. Perspiciatis accusamus tenetur aperiam architecto, vel, quam quas ea.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam omnis quidem fugit provident voluptatibus, odio dolore reiciendis molestias recusandae adipisci minus enim vero libero sunt odit quas a dolores ullam!
        </p>
    </div>
</div>

<div class="row">
    <div class="well well-sm">
        <a href="#/regions/oceania"><h3>OCEANIA</h3></a>
    </div>
    <div class="col-xs-2 col-sm-4 col-lg-3">
        <a href="#/regions/oceania">
        <img src="../images/regions/oceania.png" class="img-thumbnail" alt="Cinque Terre" width="250" height="250">
        </a>
    </div>
    <div class="col-xs-10 col-sm-8 col-lg-9">
        <blockquote>
            <p>Countries: 14</p>
            <p>Area: 8,525,989 km2</p>
            <p>Population: 36,659,000</p>
            <footer>From wikipedia</footer>
        </blockquote>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia vero, facere perspiciatis consectetur accusamus maiores dolor molestiae odit! Quo, fugit, eius. Perspiciatis accusamus tenetur aperiam architecto, vel, quam quas ea.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam omnis quidem fugit provident voluptatibus, odio dolore reiciendis molestias recusandae adipisci minus enim vero libero sunt odit quas a dolores ullam!
        </p>
    </div>
</div>

<div class="row">
    <div class="well well-sm">
        <a href="#/regions/americas"><h3>AMERICAS</h3></a>
    </div>
    <div class="col-xs-2 col-sm-4 col-lg-3">
        <a href="#/regions/americas">
        <img src="../images/regions/americas.png" class="img-thumbnail" alt="Cinque Terre" width="250" height="250">
        </a>
    </div>
    <div class="col-xs-10 col-sm-8 col-lg-9">
        <blockquote>
            <p>Countries: 35</p>
            <p>Area: 45,549,000 km2</p>
            <p>Population: 975,279,000</p>
            <footer>From wikipedia</footer>
        </blockquote>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia vero, facere perspiciatis consectetur accusamus maiores dolor molestiae odit! Quo, fugit, eius. Perspiciatis accusamus tenetur aperiam architecto, vel, quam quas ea.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam omnis quidem fugit provident voluptatibus, odio dolore reiciendis molestias recusandae adipisci minus enim vero libero sunt odit quas a dolores ullam!
        </p>
    </div>
</div>