#homepage-title{
    font-weight: bold;
    color: #ffffff;
    font-family: Verdana, Geneva, Tahoma, sans-serif; 
}

.well {
    text-align: center;
}

.img-responsive,
.thumbnail > img,
.thumbnail a > img,
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  display: block;
  width: 100%;
  height: auto;
}

.carousel-inner {
  border-radius: 15px;
}

.carousel-caption {
  background-color: rgba(0,0,0,.8);
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  padding: 0 0 10px 0px;
  color: #fff;
  text-align: center;
}

.carousel-indicators {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  z-index: 15;
  margin: 0;
  text-align: center;
}

.carousel-control.left,
.carousel-control.right {
  background-image: none;
}

.section-white {
   padding: 10px 0;
}

.section-white {
  background-color: #fff;
  color: #555;
}

@media screen and (min-width: 768px) {
  .section-white {
     padding: 1.5em 0;
  }
}

@media screen and (min-width: 992px) {
  .container {
    max-width: 930px;
  }
}

#main-footer {
      color: black;
      padding: 15px;
      margin-top: 10px;
      min-height: 100px;
    }

.country{
  border: 1px solid #B7B7B3;
  border-radius: 5px;
  margin-bottom: 15px;
  padding: 10px;
  background-color: #F7F6F2;
}

.country img {
  border-radius: 5px;
}

.flag {
  text-align: center;
}

.country-info {
    text-align: center;
}

#map{
	display: block;
	position:relative;
	width:90%;
	height:500px;
	border: 1px solid black;
	border-radius: 5px;
	margin: 0px auto 0px;
}

select {
  display: block;
  width: 90%;
  border: 1px solid lightskyblue;
  margin: 0px auto 0px;
}

.error{
  font-size: 30px;
  width: 80%;
  margin: 100px auto 320px;
  text-align: center;
}

#forkme a {
    box-shadow: 4px 4px 10px rgba(0,0,0,0.8);
    background: #dd0d0d;
    color: #fff;
    text-decoration: none;
    font-family: arial,sans-serif;
    text-align: center;
    font-weight: bold;
    padding: 5px 20px;
    font-size: 20px;
}
#fbme{
    margin-top: 10px;
}
#fbme a {
    box-shadow: 4px 4px 10px rgba(0,0,0,0.8);
    background: #3b5999;
    color: #fff;
    text-decoration: none;
    font-family: arial,sans-serif;
    text-align: center;
    font-weight: bold;
    padding: 5px 20px;
    font-size: 20px;
}

.suggestions-list {
    position: absolute;
    top: 35px;
    left: 0;
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: white;
    z-index: 1;
}

.suggestions-list .suggestion {
    border-top: 1px solid black;
    text-align: center;
    padding: 5px 15px;
}

.suggestion-link {
    text-decoration: none;
    color: black;
}

.suggestion-link:hover {
    text-decoration: underline;
}

/* start of custom navbar */
.main-nav {
    background-color: rgba(82, 113, 171, 1);
    background: -webkit-linear-gradient(top, rgba(15, 46, 87, 1) 0%, rgba(82, 113, 171, 0.9) 100%);
    background: linear-gradient(to bottom, rgba(15, 46, 87, 1) 0%, rgba(82, 113, 171, 0.9) 100%);
}

.navbar-brand {
    color: #ffffff;
}
#main-list {
    color: #ffffff;
}
#regions {
  color: #ffffff;
}
#atoz {
  color: #ffffff;
}
#maps {
  color: #ffffff;
}
#loginBtn {
  color: #ffffff;
}
#registerBtn {
  color: #ffffff;
}
#currentUser {
  color: #ffffff;
}
#logoutBtn {
  color: #ffffff;
}

.autocomplete {
  margin: 10px auto;
  border: 0.5px solid gray;
  border-radius: 5px;
  width: 70%;
}



/* end of custom navbar */